@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("images/snow.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-con{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.cd-el{
    text-align: center;
}

.cd-el span{
    font-size: 1.3rem;
}